<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <script src="/webjars/jquery/3.0.0/jquery.js"></script>
    <script src="/webjars/bootstrap/4.0.0-1/js/bootstrap.bundle.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/4.0.0-1/css/bootstrap.css">
    <style>
        div.card-body {
            height: 500px;
            margin: 10%;
        }

        div.card {
            background-color: #c9e2ee;
            color: #323e21;
        }
    </style>
    <title>Show Recipe</title>
</head>
<body>

<div id="carouselExampleIndicators" class="carousel slide container " data-ride="carousel" style="margin-top:20px">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner ">
        <div class="carousel-item active">
            <div class="card">
                <div class="card-body text-center">
                    <h1 th:text="${recipe.description}"> No1 </h1>
                    <div>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Categories:</h5>
                            </div>
                            <div class="col-md-9">
                                <ul th:each="cate:${recipe.categories}">
                                    <li th:text="${cate.categoryName}">cat one</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Prep Time:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${recipe.prepTime+' mins'}">30 min</p>
                            </div>
                            <div class="col-md-3">
                                <h5>Difficulty:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${recipe.difficulty}">Easy</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Cooktime:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${recipe.cookTime}+' mins'">30 min</p>
                            </div>
                            <div class="col-md-3">
                                <h5>Servings:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${recipe.servings}">4</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Source:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${recipe.source}">AU</p>
                            </div>
                            <div class="col-md-3">
                                <h5>URL:</h5>
                            </div>
                            <div class="col-md-3">
                                <a th:href="${recipe.url}" th:text="${recipe.url}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item ">
            <div class="card">
                <div class="card-body  text-center">
                    <div class="row m-5">
                        <h1 class="card-title col-md-11"> Ingredients </h1>
                        <div class="col-md-1">
                            <a class="btn btn-warning" th:href="@{'/recipe/'+${recipe.id}+'/ingredients'}"
                               role="button">View</a>
                        </div>
                    </div>
                    <div class="card-text">
                        <ul th:each="ing:${recipe.ingredients}">
                            <li th:text="${ing.description}+' '+${ing.amount}+' '+${ing.uom.uom}">1 Cup of milk</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="card">
                <div class="card-body text-center">
                    <h1 class="card-title"> Directions </h1>
                    <div class="card-text" th:text="${recipe.direction}">
                        Lorem ipsum dolor sit amet, consecte
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
                <div class="card-body text-center">
                    <h1 class="card-title"> Notes </h1>
                    <div class="card-text" th:text="${recipe.notes.recipeNotes}">
                        Lorem ipsum dolor sit amet, consectet
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

</body>


</html>